.whatsRightAnimateOnce:before {
  animation: whatsRightFirstLineAnimation 3.5s linear 0s 1 forwards;
}

@-moz-document url-prefix() {
  .whatsRightAnimateOnce:before {
    animation: whatsRightFirstLineAnimationFirefox 3.5s linear 0s 1 forwards;
  }
}

.whatsRightAnimateOnce .whatsRightHeadingHighlight:after {
  animation: whatsRightLeftBranchAnimation 0.75s linear 3s 1 forwards;
}
.whatsRightAnimateOnce .whatsRightItem:nth-of-type(1):before {
  animation: whatsRightTreeBranchAnimation 0.25s linear 3.25s 1 forwards;
}
.whatsRightAnimateOnce .whatsRightItem:nth-of-type(2):before {
  animation: whatsRightTreeBranchAnimation 0.25s linear 3.85s 1 forwards;
}
.whatsRightAnimateOnce .whatsRightItem:nth-of-type(3):before {
  animation: whatsRightTreeBranchAnimation 0.25s linear 4.25s 1 forwards;
}
.whatsRightAnimateOnce .whatsRightItem:nth-of-type(1):after {
  animation: whatsRightTreeTrunkAnimation 0.5s linear 3.25s 1 forwards;
}
.whatsRightAnimateOnce .whatsRightItem:nth-of-type(2):after {
  animation: whatsRightTreeTrunkAnimation 0.5s linear 3.75s 1 forwards;
}

@keyframes whatsRightFirstLineAnimation {
  0% {
    background-color: #ff86c6;
    height: 0;
  }
  80% {
    background-color: #ff86c6;
    height: 663px;
  }
  95% {
    background-color: #ff86c6;
    height: 663px;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes whatsRightFirstLineAnimationFirefox {
  0% {
    background-color: #ff86c6;
    height: 0;
  }
  80% {
    background-color: #ff86c6;
    height: 665px;
  }
  95% {
    background-color: #ff86c6;
    height: 665px;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes whatsRightLeftBranchAnimation {
  0% {
    left: 380px;
    width: 0;
  }
  100% {
    left: 220px;
    width: 160px;
  }
}
@keyframes whatsRightTreeBranchAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 50px;
  }
}
@keyframes whatsRightTreeTrunkAnimation {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
