/* Shared Styles */
.sectionContent {
  margin: 0 auto;
  padding: 0 120px;
}
.gridSection {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
  max-width: 1240px;
  margin: 0 auto;
}
.flexSection {
  display: flex;
  max-width: 1240px;
  margin: 0 auto;
}
.dark {
  color: #ffffff;
  background: #000000;
  background: linear-gradient(68.66deg, #0f1011 0%, #010242 100%);
}
.grey {
  background: #e8edf4;
}

@media only screen and (max-width: 1023px) {
  .sectionContent {
    padding: 0 8%;
  }
  .gridSection {
    max-width: none;
    margin: 0 20px;
  }
  .flexSection {
    max-width: none;
    margin: 0 20px;
  }
}

@media only screen and (max-width: 767px) {
  .gridSection {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media only screen and (max-width: 413px) {
  .sectionContent {
    padding: 0 36px;
  }
  .gridSection {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 36px;
  }
  .flexSection {
    max-width: none;
    margin: 0 36px;
  }
  .dark {
    background: #000000;
  }
}

/* Hero Styles */
.hero {
  overflow: hidden;
  min-height: 946px;
}
.heroContent {
  max-width: 50rem;
}
.hero .sectionContent {
  display: flex;
  padding-right: 0px;
  justify-content: space-between;
}
h1.heroHeading {
  font-size: 4rem;
  line-height: 4.75rem;
  margin-top: 200px;
  margin-bottom: 4.5rem;
}
p.heroText {
  font-family: Lato;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem;
  margin-bottom: 8.75rem;
  text-align: left;
}

@media only screen and (max-width: 1023px) {
  .heroContent {
    width: 75%;
  }
  h1.heroHeading {
    font-size: 3rem;
    line-height: 3.75rem;
    margin-top: 180px;
    margin-bottom: 4.25rem;
  }
  p.heroText {
    margin-bottom: 9.75rem;
  }
}

@media only screen and (max-width: 413px) {
  .hero {
    min-height: 820px;
  }
  .hero .sectionContent {
    padding: 0 36px;
  }
  .heroContent {
    width: initial;
  }
  h1.heroHeading {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 140px;
    margin-bottom: 3rem;
  }
  p.heroText {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    margin-top: 0;
    margin-bottom: 4rem;
  }
}
