/* Shared Styles */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 0 5rem;
}

.heroContent {
  display: flex;
  flex-direction: row;
}

.heroHeading {
  max-width: 500px;
  margin-right: 2rem;
  line-height: 6rem;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 0;
}

.heroHeadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroSection {
  display: flex;
  flex-direction: column;
  color: #fff;
  background: #000;
  background: linear-gradient(248.66deg, #010242 0%, #0f1011 100%);
  overflow: hidden;
  flex-grow: 1;
}

/* TABLET LARGE SIZE */
@media only screen and (max-width: 1023px) {
  .content {
    margin: 150px 3rem;
  }

  .heroContent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heroHeading {
    text-align: center;
    line-height: 4rem;
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

/* Mobile Size */
@media only screen and (max-width: 449px) {
  .content {
    margin: 140px 1rem;
  }

  .heroHeading {
    max-width: initial;
  }
}
