/* Shared Styles */
.sectionContent {
  margin: 0 auto;
  padding: 0 120px;
  overflow-x: hidden;
}
.gridSection {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 72px;
  max-width: 1240px;
  margin: 0 auto;
}
@media only screen and (max-width: 1023px) {
  .gridSection {
    column-gap: 24px;
  }
}
.flexSection {
  display: flex;
  max-width: 1240px;
  margin: 0 auto;
}
.dark {
  color: #ffffff;
  background: linear-gradient(68.66deg, #0f1011 0%, #010242 100%);
}
.grey {
  background: #e8edf4;
}

@media only screen and (max-width: 1023px) {
  .sectionContent {
    padding: 0 8%;
  }
  .gridSection {
    max-width: none;
    margin: 0 20px;
  }
  .flexSection {
    max-width: none;
    margin: 0 20px;
  }
}

@media only screen and (max-width: 677px) {
  .gridSection {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media only screen and (max-width: 449px) {
  .sectionContent {
    padding: 0 36px;
  }
  .gridSection {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 36px;
  }
  .flexSection {
    max-width: none;
    margin: 0 36px;
  }
}

/* Testimonials styles */
.testimonials {
  padding: 124px 0px 98px;
}
.testimonials .flexSection {
  flex-direction: column;
  align-items: center;
}
.testimonials .testimonialsHeading {
  text-align: center;

  margin: 0;
  max-width: 51rem;
}
.testimonials .testimonialsCarousel {
  margin-top: 4rem;
}

