/* Shared Styles */
.contentRoot {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}
.sectionContent {
  margin: 0 auto;
  padding: 0 120px;
}
.gridSection {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 72px;
  max-width: 1240px;
  margin: 0 auto;
}
@media only screen and (max-width: 1023px) {
  .gridSection {
    column-gap: 24px;
  }
}
.flexSection {
  display: flex;
  max-width: 1240px;
  margin: 0 auto;
}
.dark {
  color: #ffffff;
  background: #000000;
  background: linear-gradient(68.66deg, #0f1011 0%, #010242 100%);
}
.grey {
  background: #e8edf4;
}

@media only screen and (max-width: 1023px) {
  .sectionContent {
    padding: 0 8%;
  }
  .gridSection {
    max-width: none;
    margin: 0 20px;
  }
  .flexSection {
    max-width: none;
    margin: 0 20px;
  }
}

@media only screen and (max-width: 767px) {
  .gridSection {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media only screen and (max-width: 413px) {
  .sectionContent {
    padding: 0 36px;
  }
  .gridSection {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 36px;
  }
  .flexSection {
    max-width: none;
    margin: 0 36px;
  }
  .dark {
    background: #000000;
  }
}

/* Hero Styles */
.hero {
  overflow: hidden;
  min-height: 946px;
}
.heroSvg {
  position: absolute;
  right: 0;
  top: 180px;
}
.heroContent {
  max-width: 50rem;
}
.hero .sectionContent {
  display: flex;
  padding-right: 0px;
  justify-content: space-between;
}
h1.heroHeading {
  margin-top: 200px;
  margin-bottom: 4.5rem;
}
p.heroText {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.25rem;
  margin-bottom: 4.5rem;
  text-align: left;
}
a.heroLink {
  max-width: 380px;
  margin-bottom: 2em;
}

@media only screen and (max-width: 1023px) {
  .heroContent {
    width: 65%;
  }
  h1.heroHeading {
    margin-top: 180px;
    margin-bottom: 4.25rem;
  }
  a.heroLink {
    max-width: 100%;
    min-width: 100%;
  }
}

@media only screen and (max-width: 413px) {
  .hero {
    min-height: 820px;
  }
  .hero .sectionContent {
    padding: 0 36px;
  }
  .heroContent {
    width: initial;
  }
  .heroSvg {
    display: none;
  }
  h1.heroHeading {
    margin-top: 140px;
    margin-bottom: 3rem;
  }
  p.heroText {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 3rem;
  }
  a.heroLink {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
}

/* Features Styles */
.features {
  position: relative;
  padding: 52px 20px 0px 20px;
}
.featuresTransition {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 16.875rem;
  background: #e8edf4;
  z-index: -1;
}
.features .gridSection .feature {
  grid-column: span 4;
  background: #ffffff;
  box-shadow: 0px 0px 12px 8px rgba(140, 140, 140, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  margin-bottom: 2.25em;
}
.features h2.featureHeading {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 1rem 0;
}
.features .feature p {
  font-family: Lato;
  font-weight: 500;
  text-align: center;
  color: #8493b0;
  margin-top: 0px;
}

@media only screen and (max-width: 1023px) {
  .features {
    padding: 52px 0px 24px 0px;
  }
  .features h2.featureHeading {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
}

@media only screen and (max-width: 767px) {
  .features .gridSection .feature:last-of-type {
    grid-column: 3 / span 4;
  }
}

@media only screen and (max-width: 413px) {
  .featuresTransition {
    display: none;
  }
  .features .gridSection .feature,
  .features .gridSection .feature:last-of-type {
    grid-column: 1 / span 1;
  }
}

/* Articles Styles */
.articles {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 124px 0px;
}
.articles .articlesHeading {
  margin: 0 24px 3rem 24px;
  text-align: center;
}

@media only screen and (max-width: 1023px) {
  .articles {
    padding: 0px;
  }
}

@media only screen and (max-width: 413px) {
  .articles {
    margin-top: 36px;
    margin-bottom: 79px;
  }
}

/* About styles */
.about {
  padding: 100px 0px;
}
.about .flexSection {
  flex-direction: row;
}
.about h2.aboutHeading {
  font-size: 2.625rem;
  line-height: 3.125rem;
  margin-left: 17%;
}
.about .aboutDescription {
  margin-left: 24px;
  margin-right: 17%;
}
.about .aboutDescription p:first-of-type {
  margin-top: 0;
}
.about .aboutDescription p:last-of-type {
  margin-bottom: 0;
}

@media only screen and (max-width: 1023px) {
  .about .flexSection {
    flex-direction: column;
    align-items: center;
  }
  .about h2.aboutHeading {
    margin-left: 0;
    margin-bottom: 2.25rem;
    text-align: center;
  }
  .about .aboutDescription {
    margin-left: 17%;
  }
}

@media only screen and (max-width: 413px) {
  .about .aboutDescription {
    font-size: 1rem;
    line-height: 1.625rem;
    margin: 0;
  }
}

/* Platform styles */

.platform {
  padding: 84px 0px 130px 0px;
  background: linear-gradient(49.1deg, #0f1011 26.79%, #010242 86.47%);
}

.platform .platformContainer {
  margin: 0 36px;
}

.platform .platformTopRow {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 36px;
}

.platform .platformTopRow p {
  margin-top: 24px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.platform .platformFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.platform h2.platformHeading {
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
  color: transparent;
  background: linear-gradient(234.45deg, #12c6ff 0%, #6184c9 68.23%);
  background-clip: text;
}

.platform .gridSection {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 36px 0;
}

.platform .gridSection img {
  width: 100%;
}

.platform .platformTitle {
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin: 24px 0;
}

.platform .platformDescription {
  margin: 0;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.platform .profileColumnLeft {
  margin: 0 auto;
}

.platform .opportunitiesColumnLeft {
  margin: 0 auto;
}

@media only screen and (min-width: 770px) {
  .platform .gridSection {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 72px;
    max-width: 1200px;
    margin: 0 -36px;
    width: 100%;
  }

  .platform .gridSection.opportunitiesRow {
    align-self: flex-end;
  }

  .platform .profileColumnLeft {
    grid-column: span 7;
    margin: 0;
  }

  .platform .profileColumnRight {
    grid-column: span 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .platform .profileColumnRight p {
    text-align: left;
    margin: 32px 0;
  }

  .platform .opportunitiesColumnLeft {
    grid-column: span 7;
    order: 2;
    margin: 0;
  }

  .platform .opportunitiesColumnRight {
    grid-column: span 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .platform .opportunitiesColumnRight h3 {
    color: white;
    text-transform: uppercase;
  }

  .platform .opportunitiesColumnRight p {
    margin: 32px 0;
  }

  .platform .opportunitiesColumnRight p {
    text-align: left;
  }
}

/* Testimonials styles */
.testimonials {
  padding: 124px 0px 98px;
}
.testimonials .flexSection {
  flex-direction: column;
  align-items: center;
}
.testimonials .testimonialsHeading {
  text-align: center;

  margin: 0 0 4rem;
  max-width: 51rem;
}
.testimonials .testimonialsHeading:first-of-type {
  margin-top: 0;
}
.testimonials .testimonialsCarousel {
  margin-top: 4rem;
}

@media only screen and (max-width: 413px) {
  .testimonials .testimonialsHeading {
    margin-bottom: 2.625rem;
  }
}
