/* Shared Styles */
.sectionContent {
  margin: 0 auto;
  padding: 0 120px;
}
.gridSection {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 72px;
  max-width: 1240px;
  margin: 0 auto;
}
@media only screen and (max-width: 1023px) {
  .gridSection {
    column-gap: 24px;
  }
}
.flexSection {
  display: flex;
  max-width: 1240px;
  margin: 0 auto;
}
.dark {
  color: #ffffff;
  background: linear-gradient(68.66deg, #0f1011 0%, #010242 100%);
}
.grey {
  background: #e8edf4;
}

@media only screen and (max-width: 1023px) {
  .sectionContent {
    padding: 0 8%;
  }
  .gridSection {
    max-width: none;
    margin: 0 20px;
  }
  .flexSection {
    max-width: none;
    margin: 0 20px;
  }
}

@media only screen and (max-width: 677px) {
  .gridSection {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media only screen and (max-width: 449px) {
  .sectionContent {
    padding: 0 36px;
  }
  .gridSection {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 36px;
  }
  .flexSection {
    max-width: none;
    margin: 0 36px;
  }
}

/* Hero Styles */
.hero {
  overflow: hidden;
  min-height: 946px;
}
.heroContent {
  max-width: 50rem;
}
.hero .sectionContent {
  display: flex;
  padding-right: 0px;
  justify-content: space-between;
}
h1.heroHeading {
  margin-top: 260px;
  margin-bottom: 3.5rem;
}
p.heroText {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.25rem;
  margin-top: 3.5rem;
  margin-bottom: 3.25rem;
  text-align: left;
}
.heroTextExtra {
  display: block;
}
a.heroLink {
  max-width: 380px;
  margin-bottom: 2em;
}
p.heroTagline {
  position: relative;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  height: 30px;
  width: 400px;
  margin-top: 150px;
}
p.heroTagline:after {
  color: #8493B0;
  content: "\2060";
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  border-right: 2px solid #8493B0;
  animation: typingAnimation 5s linear 5s 1 forwards,
             blinkAnimation 1s step-end 1s infinite;
}

@keyframes typingAnimation {
  0% {
    content: "";
  }
  3% {
    content: "c";
  }
  6% {
    content: "ch";
  }
  9% {
    content: "cho";
  }
  12% {
    content: "chow";
  }
  15% {
    content: "chown";
  }
  18% {
    content: "chown\a0";
  }
  21% {
    content: "chown $";
  }
  24% {
    content: "chown $U";
  }
  27% {
    content: "chown $US";
  }
  30% {
    content: "chown $USE";
  }
  33% {
    content: "chown $USER";
  }
  36% {
    content: "chown $USER\a0";
  }
  39% {
    content: "chown $USER .";
  }
  42% {
    content: "chown $USER .\a0";
  }
  45% {
    content: "chown $USER . /";
  }
  48% {
    content: "chown $USER . /\a0";
  }
  51% {
    content: "chown $USER . / s";
  }
  54% {
    content: "chown $USER . / st";
  }
  57% {
    content: "chown $USER . / sta";
  }
  60% {
    content: "chown $USER . / star";
  }
  63% {
    content: "chown $USER . / start";
  }
  66% {
    content: "chown $USER . / startu";
  }
  69% {
    content: "chown $USER . / startup";
  }
  72% {
    content: "chown $USER . / startup_";
  }
  75% {
    content: "chown $USER . / startup_c";
  }
  78% {
    content: "chown $USER . / startup_ca";
  }
  82% {
    content: "chown $USER . / startup_car";
  }
  85% {
    content: "chown $USER . / startup_care";
  }
  88% {
    content: "chown $USER . / startup_caree";
  }
  91% {
    content: "chown $USER . / startup_career";
  }
  94% {
    content: "chown $USER . / startup_career\a0";
  }
  100% {
    content: "chown $USER . / startup_career\a0";
  }
}

@keyframes blinkAnimation {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #8493B0;
  }
}


@media only screen and (max-width: 1023px) {
  .heroContent {
    width: 65%;
  }
  h1.heroHeading {
    margin-top: 150px;
  }
  a.heroLink {
    max-width: 100%;
    min-width: 100%;
  }
  p.heroTagline {
    text-align: left;
    margin-top: 220px;
  }
}

@media only screen and (max-width: 449px) {
  .hero {
    min-height: 820px;
  }
  .hero .sectionContent {
    padding: 0 36px;
  }
  .heroContent {
    width: 100%;
  }
  .heroSvg {
    display: none;
  }
  h1.heroHeading {
    margin-top: 140px;
    margin-bottom: 2.3rem;
  }
  p.heroText {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    margin-top: 2.3rem;
    margin-bottom: 4rem;
  }
  .heroTextExtra {
    margin-top: 2rem;
  }
  a.heroLink {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
  p.heroTagline {
    font-size: 18px;
    line-height: 20px;
    margin-top: 128px;
  }
}

/* Features Styles */
.features {
  position: relative;
  padding: 52px 20px 0px 20px;
}
.featuresTransition {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 16.875rem;
  background: #e8edf4;
  z-index: -1;
}
.features .gridSection .feature {
  grid-column: span 4;
  background: #ffffff;
  box-shadow: 0px 0px 12px 8px rgba(140, 140, 140, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  margin-bottom: 2.25em;
}
.features h2.featureHeading {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 1rem 0;
}
.features .feature p {
  font-family: Lato;
  font-weight: 500;
  text-align: center;
  color: #8493b0;
  margin-top: 0px;
}

@media only screen and (max-width: 1023px) {
  .features {
    padding: 52px 0px 24px 0px;
  }
  .features h2.featureHeading {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
}

@media only screen and (max-width: 677px) {
  .features .gridSection .feature:last-of-type {
    grid-column: 3 / span 4;
  }
}

@media only screen and (max-width: 449px) {
  .featuresTransition {
    display: none;
  }
  .features .gridSection .feature,
  .features .gridSection .feature:last-of-type {
    grid-column: 1 / span 1;
  }
}

/* Articles Styles */
.articles {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 124px 0px;
}
.articles .articlesHeading {
  margin: 0 24px 3rem 24px;
  text-align: center;
}

@media only screen and (max-width: 1023px) {
  .articles {
    padding: 0px;
  }
}

@media only screen and (max-width: 449px) {
  .articles {
    margin-top: 36px;
    margin-bottom: 79px;
  }
}

/* About styles */
.about {
  padding: 140px 0px;
}
.about .flexSection {
  flex-direction: row;
}
.about h2.aboutHeading {
  font-size: 2.625rem;
  line-height: 3.125rem;
  margin-left: 17%;
}
.about .aboutDescription {
  margin-left: 24px;
  margin-right: 17%;
}
.about .aboutDescription p:first-of-type {
  margin-top: 0;
}
.about .aboutDescription p:last-of-type {
  margin-bottom: 0;
}

@media only screen and (max-width: 1023px) {
  .about {
    padding: 120px 0px;
  }
  .about .flexSection {
    flex-direction: column;
    align-items: center;
  }
  .about h2.aboutHeading {
    margin-left: 0;
    margin-bottom: 2.25rem;
    text-align: center;
  }
  .about .aboutDescription {
    margin-left: 17%;
  }
}

@media only screen and (max-width: 449px) {
  .about {
    padding: 84px 0px;
  }
  .about .aboutDescription {
    font-size: 1rem;
    line-height: 1.625rem;
    margin: 0;
  }
}

/* Platform styles */

.platform {
  padding: 140px 0px 130px 0px;
  background: linear-gradient(49.1deg, #0f1011 26.79%, #010242 86.47%);
  --text-width: 750px;
}

@media only screen and (max-width: 770px) {
  .platform {
    --text-width: 400px;
  }
}

.platform .platformContainer {
  margin: 0 36px;
}

.platform .platformTopRow {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 36px;
}

.platform .platformTopRow p {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  max-width: var(--text-width);
  margin: 0 auto;
  padding-top: 24px;
}

.platform .platformFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.platform h2.platformHeading {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  line-height: 3.625rem;
  text-align: center;
  color: transparent;
  background: linear-gradient(234.45deg, #12c6ff 0%, #6184c9 68.23%);
  background-clip: text;
}

@media only screen and (max-width: 449px) {
  .platform h2.platformHeading {
    font-size: 1.75rem;
    letter-spacing: initial;
    line-height: 2.125rem;
  }
}

.platform .gridSection {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 0;
  margin: 36px 0;
}

.platform .gridSection img {
  width: 100%;
}

.platform .platformTitle {
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin: 24px 0;
}

.platform .platformDescription {
  margin: 0 auto;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  max-width: var(--text-width);
}

.platform .profileColumnLeft {
  margin: 0 auto;
}

.platform .opportunitiesColumnLeft {
  margin: 0 auto;
}

@media only screen and (min-width: 770px) {
  .platform .gridSection {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 0;
    max-width: 100%;
    margin: 0 -36px;
    width: 100%;
  }

  .platform .gridSection.opportunitiesRow {
    align-self: flex-end;
  }

  .platform .profileColumnLeft {
    grid-column: span 7;
    margin: 0;
  }

  .platform .profileColumnRight {
    grid-column: span 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 430px;
    margin: 0 auto 0 24px;
  }

  .platform .profileColumnRight p {
    text-align: left;
    margin: 32px 0;
  }

  .platform .opportunitiesColumnLeft {
    grid-column: span 7;
    order: 2;
    margin: 0;
  }

  .platform .opportunitiesColumnRight {
    grid-column: span 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 430px;
    margin: 0 24px 0 auto;
  }

  .platform .opportunitiesColumnRight h3 {
    color: white;
    text-transform: uppercase;
    text-align: left;
  }

  .platform .opportunitiesColumnRight p {
    margin: 32px 0;
  }

  .platform .opportunitiesColumnRight p {
    text-align: left;
  }
}

/* Testimonials styles */
.testimonials {
  padding: 124px 0px 98px;
}
.testimonials .flexSection {
  flex-direction: column;
  align-items: center;
}
.testimonials .testimonialsHeading {
  text-align: center;

  margin: 0 0 2rem;
  max-width: 51rem;
}
.testimonials .testimonialsHeading:first-of-type {
  margin-top: 0;
}
.testimonials .testimonialsCarousel {
  margin-top: 4rem;
}

@media only screen and (max-width: 449px) {
  .testimonials .testimonialsHeading {
    margin-bottom: 2.625rem;
  }
}
